In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Yellowknife,20,CA,2022-03-25 02:42:32,55,62.4560,-114.3525,0.12,8.05
1,1,San Cristobal,8,VE,2022-03-25 02:42:33,66,7.7669,-72.2250,68.16,1.41
2,2,Nikolskoye,100,RU,2022-03-25 02:42:33,99,59.7035,30.7861,37.87,3.85
3,3,Kodiak,100,US,2022-03-25 02:42:34,87,57.7900,-152.4072,36.91,14.97
4,4,Isangel,94,VU,2022-03-25 02:42:34,72,-19.5500,169.2667,82.42,13.47

In [17]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [22]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [42]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 20.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4,
                                 
                                )
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
4,4,Isangel,94,VU,2022-03-25 02:42:34,72,-19.5500,169.2667,82.42,13.47
5,5,Atuona,98,PF,2022-03-25 02:37:47,78,-9.8000,-139.0333,79.61,18.57
6,6,Alugan,97,PH,2022-03-25 02:42:35,76,12.2188,125.4808,83.19,9.48
7,7,Busselton,62,AU,2022-03-25 02:42:35,34,-33.6500,115.3333,80.26,7.92
10,10,Hobart,20,AU,2022-03-25 02:40:19,51,-42.8794,147.3294,73.06,8.05
12,12,Lamu,1,KE,2022-03-25 02:39:18,90,-2.2717,40.9020,80.82,8.25
16,16,Cidreira,100,BR,2022-03-25 02:42:39,86,-30.1811,-50.2056,72.36,5.19
18,18,Puerto Ayora,94,EC,2022-03-25 02:42:40,81,-0.7393,-90.3518,78.51,8.34
20,20,Kapaa,100,US,2022-03-25 02:42:41,81,22.0752,-159.3190,80.58,23.02
24,24,Benguela,94,AO,2022-03-25 02:42:43,85,-12.5763,13.4055,77.86,2.82

In [54]:
preferred_cities_df.count()

City_ID       190
City          190
Cloudiness    190
Country       190
Date          190
Humidity      190
Lat           190
Lng           190
Max Temp      190
Wind Speed    190
dtype: int64

In [55]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4        Isangel      VU     82.42 -19.5500  169.2667
5         Atuona      PF     79.61  -9.8000 -139.0333
6         Alugan      PH     83.19  12.2188  125.4808
7      Busselton      AU     80.26 -33.6500  115.3333
10        Hobart      AU     73.06 -42.8794  147.3294
12          Lamu      KE     80.82  -2.2717   40.9020
16      Cidreira      BR     72.36 -30.1811  -50.2056
18  Puerto Ayora      EC     78.51  -0.7393  -90.3518
20         Kapaa      US     80.58  22.0752 -159.3190
24      Benguela      AO     77.86 -12.5763   13.4055

In [60]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Isangel,VU,82.42,-19.5500,169.2667,Tanna Lodge
5,Atuona,PF,79.61,-9.8000,-139.0333,Villa Enata
6,Alugan,PH,83.19,12.2188,125.4808,JM Lodge
7,Busselton,AU,80.26,-33.6500,115.3333,Observatory Guest House
10,Hobart,AU,73.06,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
...,...,...,...,...,...,...
543,Honiara,SB,82.94,-9.4333,159.9500,Heritage Park Hotel
544,Guanica,PR,76.05,17.9716,-66.9080,Copamarina Beach Resort & Spa
547,Vangaindrano,MG,72.41,-23.3500,47.6000,Hotel Fanilo
549,Harper,LR,79.16,4.3750,-7.7169,Screensaver
551,Yaguajay,CU,76.57,22.3272,-79.2378,Hostal La Terraza

In [65]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [68]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))